* {
	moz-box-sizing: border-box;
	webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;

}

body {
	font-family: Arial, sans-serif;
	color: rgb(74, 74, 74);
	height: 100%;
	width: 100%;

}

.wrapper {
	width: 100%;
	height: 20%;
	text-align: center;

}


#nav-one,
#nav-two,
#nav-three {
	display: inline-block;
	width: 30%;
	height: 100%;
	margin: 1%;

}


#nav-one {
	background-color: rgb(208, 2, 27);
}

#nav-two {
	background-color: rgb(74, 144, 226);
}

#nav-three {
	background-color: rgb(74, 74, 74);
}



#main-content {
	margin: 4% 2.5%;

}

#four {
	width: 95%;
	height: 45%;
	background-color: rgb(74, 144, 226);
	margin: 2.5%;

}

#five {
	width: 35%;
	height: 100%;
	background-color: rgb(208, 2, 27);
}

#six {
	position: relative;
	width: 95%;
	height: 20%;
	background-color: rgb(74, 144, 226);
	margin: 2.5%;

}

#seven {
	position: absolute;
	top: 0;
	right: 0;
	width: 30%;
	height: 100%;
	background-color: rgb(208, 2, 27);

}


#eight {
	width: 80%;
	height: 100%;
	background-color: rgb(74, 74, 74);
	margin: 0 auto;
}

